.CreatePost{
    width: 100%;
    max-width: 700px;
    color: #003049;
    background-color: #cee5f2;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 3px 2px 10px #323f46;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CreatePost div{
    display: block;
    margin: 15px 5px;
}

.CreatePost button{
    margin-right: 20px;
}
