.CreatePost{
    width: 100%;
    max-width: 700px;
    color: #003049;
    background-color: #cee5f2;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 3px 2px 10px #323f46;
}

.CreatePost input,
.CreatePost textarea{
    width: 70%;
    margin: 10px 0;
    padding: 10px;
    background-color:  #cee5f2;
    border: 0;
    border: 2px solid #003049;
    font-size: 18px;
    color: #003049;
    outline: 0;
    resize: none;
    box-shadow: 3px 2px 5px #387b9e;
}

.CreatePost textarea{
    padding: 10px;
    padding-bottom: 30px;
}

.CreatePost div{
    display: block;
    margin: 15px 5px;
}

.CreatePost button{
    margin-right: 20px;
}
