.Input{
    width: 80%;
    padding-top: 5px;
    display: block;
}

.Input input,
.Input textarea{
    width: 100%;
    padding: 10px;
    background-color: #cee5f2;
    border: 0;
    border: 2px solid #003049;
    font-size: 18px;
    color: #003049;
    outline: 0;
    resize: none;
    box-shadow: 3px 2px 5px #387b9e;
}

.Input textarea{
    padding: 10px;
    padding-bottom: 30px;
}

.Input .invalid{
    color: rgb(200, 50, 50);
}

.Input .valid{
    color: rgb(2, 101, 2);
}

.touched{
    background-color: rgba(108, 51, 51, 0.401) !important;
}