*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
}

body{
  /* background-color: #afd0da; */
  background-image: linear-gradient(to right, #0084ac, rgb(30, 151, 121));

  overflow-x: hidden;

}

.btn-info{
  background-color: #003049;
  padding: 8px;
  height: 45px;
  width: 90px;
  color: white;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: 5px solid #003049;
}

.btn-info:active{
  outline: 5px solid #03121a;
}

.btn-success{
  background-color: #508645;
  padding: 8px;
  height: 45px;
  width: 90px;
  color: white;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: 5px solid #508645;
}

.btn-success:active{
  outline: 5px solid #2d5026;
}

.btn-danger{
  background-color: #d62828;
  padding: 8px;
  height: 45px;
  width: 90px;
  color: white;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: 5px solid #d62828;
}

.btn-danger:active{
  outline: 5px solid #9c3636;
}